/* Normalization */
@import url("./norm.css");

/* Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

/* Google Icon Font */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Material Design Icon */
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css');

:root {
    --black: #000000;
    --white: #ffffff;

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;

    --yellow-400: #facc15;
    --slate-green-100: #2FBA98;
    --slate-green-300: #00929A;
    --slate-green-500: #1F6881;

    --shadow: #9ca3afaa;

    --sidebar-width: 11.5rem; /* 1 + 2 + 1.25 + 6 + 1 + .25 = 11.5 */
    --sidebar-hide-width: 4.25rem; /* 1 + 2 + 1.25 = 4.25*/
    --header-height: 4rem; /* 1 + 2 + 1 */
}

body {
    color: var(--slate-700);
}

img {
    width: 100%;
    height: 100%;
}

.btn-primary {
    padding: .5em 1.5em;
    font-weight: 500;
    border-radius: 1.25rem;
    background-color: var(--sky-500);
    color: var(--white);
}

.card {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: 1px 1px 4px var(--shadow);
    padding: 1.5em;
}

.card .title {
    font-weight: bold;
    margin: .25em 0; 
}

.card .text {
    color: var(--gray-500);
}

.card .section {
    padding: 1em 0;
}

.card .section:not(:last-child) {
    border-bottom: 1px solid var(--gray-300);
}



.container {
    display: grid;
    grid-template-columns: auto 3fr;
}

.sticky-container {
    position: relative;
}

.sidebar {
    /* global layout */
    grid-column: 1 / span 1;
    width: var(--sidebar-width); 
    /* inner style */
    font-family: 'Poppins';
    color: var(--slate-green-100);
    background-color: var(--slate-700);
    box-shadow: 1px 1px 4px var(--shadow);
    /* animation */
    transition: all .3s;
}

.sidebar.hide {
    width: var(--sidebar-hide-width); 
}

.sidebar.hide span.name {
    opacity: 0;
}

.sidebar a {
    padding: .5rem 1rem;
    /* border-right: .25rem solid var(--slate-700); */
    display: grid;
    grid-template-columns: 2rem 6rem;
    align-items: center;
    gap: 1.25rem;
}

.sidebar > div:not(.logo) i.material-icons {
    justify-self: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.sidebar > div:not(.logo) i.mdi {
    justify-self: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.sidebar > :not(.logo) span.name {
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.25rem;
    /* animation */
    transition: all .3s;
}

.sidebar > .logo > a {
    padding: 1rem;
}

.sidebar > .logo i.material-icons {
    justify-self: center;
    font-size: 2rem;
}

.sidebar > .logo i.material-icons:hover {
    color: var(--white);
}

.sidebar .logo span.name {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    /* animation */
    transition: all .3s;
}

.sidebar > div:not(.logo) a:active,
.sidebar > div:not(.logo) a:hover {
    color: var(--white);
    background-color: var(--slate-green-300);
    border-right: .25rem solid var(--slate-green-100);
}

.sidebar > div:not(:first-child):not(:last-child) {
    margin: 1.5rem 0;
}



.sticky {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    /* animation */
    transition: all .3s;
}

.sticky.hide {
    left: var(--sidebar-hide-width);
    width: calc(100% - var(--sidebar-hide-width));
}

.header {
    /* style */
    height: var(--header-height);
    min-width: 20rem;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    box-shadow: 1px 1px 4px var(--shadow);
    z-index: 0;
    /* inner layout */
    display: grid;
    grid-template-columns: minmax(8rem, 1fr) 12rem;
    grid-template-rows: 2rem;
    gap: 1rem;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5rem;
}

.search > i {
    justify-self: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: var(--gray-400);
}

.search > textarea {
    height: 2rem;
    padding: .25rem 1rem;
    font-size: 1.25rem; 
    border: 0;
    background-color: var(--gray-200);
    resize: none;
    border-radius: 1rem;
    outline: none;
}



.profile {
    justify-self: end;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-auto-flow: column;
}

.profile > i {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: var(--gray-400);
}

.profile > .logo {
    width: 1.5rem;
    height: 1.5rem;
}

.profile > .logo > img {
    border-radius: .75rem;
}

.profile > .name {
    font-weight: bold;
}



.main {
    /* style */
    background-color: var(--slate-50);
    padding: 1.5rem;
    padding-top: calc(var(--header-height) + 1.5rem);
    z-index: 1;
    /* inner layout */
    display: grid;
    grid-template-columns: 1fr 16rem;
    gap: 1.5rem;
}

.line-clamp-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.line-clamp-4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.line-clamp-5 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}




.right-col > .block:not(:last-child) {
    margin-bottom: 2rem;
}

.right-col > .block > .title {
    margin: .5rem 0;
    font-weight: bold;
}

.right-col .card {
    font-size: .75rem;
}

.right-col .card {
    cursor: pointer;
}

.right-col .card .title:hover {
    color: var(--slate-green-300);
}

.right-col .card .user {
    height: 2.5em;
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 3em 1fr;
    align-items: center;
}

.right-col .card .user > .logo {
    grid-row: 1 / 2 span;
    width: 2.5em;
    height: 2.5em;
}

.right-col .card .user > .logo > img {
    border-radius: 1.25em;
}

.right-col .card .user > .id {
    font-weight: bold;
}

.right-col .card .user > .slogen {
    color: var(--gray-500);
}


.left-col > .title {
    margin: .5rem 0;
    font-weight: bold;
}



.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
    align-content: start;
}

.projects > .card {
    /* global layout */
    height: 11rem;
    border-left: .5em solid var(--white);
    /* inner layout */
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-content: start;
    /* inner style */
    cursor: pointer;
    user-select: none;
    border-left: .5em solid var(--slate-green-100);
}

.projects > .card:hover > .title {
    color: var(--slate-green-300);
}

.projects > .card > .text {
    font-size: .75rem;
    max-height: calc(4 * 1.2em); /* maximum 4 lines, default line height = 1.2 */
}

.projects > .card > .controls {
    align-self: end; 
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5em;
}

.projects > .card > .controls > i {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    user-select: none;
    color: var(--gray-400);
}

.projects > .card > .controls > i:last-child:hover {
    color: var(--slate-green-100);
}

.projects > .card > .controls > i.lighted {
    color: var(--yellow-400);
}






