@import url("./norm.css");

:root {
    --black: #000000;
    --white: #ffffff;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;

    --shadow: #9ca3afaa;
}

.container {
    display: grid;
    grid-template-columns: 12.5rem 3fr;
    grid-template-rows: 7.5rem auto;
}

img {
    width: 100%;
    height: 100%;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    background-color: var(--sky-500);
    font-size: 1.25rem;
    color: var(--white);
    box-shadow: 1px 0px 4px var(--shadow);
    z-index: 1;
}

.sidebar > .logo,
.sidebar > .first,
.sidebar > .second {
    display: grid;
    grid-template-columns: auto 1fr;
}

.sidebar > .first {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar div {
    margin: .5rem;
}

.sidebar .icon {
    height: 1rem;
    width: 1rem;
}

.sidebar > .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar > .logo > .icon {
    height: 1.5rem;
    width: 1.5rem;
}



.header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: minmax(24rem, 1fr) 16rem;
    grid-template-rows: 1.5rem 3rem;
    gap: 1rem;
    height: 7.5rem;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--white);
    box-shadow: 1px 1px 4px var(--shadow);
    z-index: 1;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: start;
    gap: .5rem;
}

.search > .icon {
    width: 1rem;
    height: 1rem;
}

.search > textarea {
    height: 1.5rem;
    border: 0;
    background-color: var(--gray-200);
    resize: none;
    border-radius: 1rem;
}



.profile {
    justify-self: end;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-auto-flow: column;
}

.profile > .notify {
    width: 1rem;
    height: 1rem;
}

.profile > .logo {
    width: 1.5rem;
    height: 1.5rem;
}

.profile > .logo > img {
    border-radius: .75rem;
}

.profile > .name {
    font-weight: bold;
}

.greet {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1rem 2rem;
    align-items: center;
}

.greet > .logo {
    grid-row: 1 / 2 span;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.greet > .logo > img {
    border-radius: 1.5rem;
}

.greet > .hi {
    font-size: .75rem;
    font-weight: bold;
}

.greet > .name {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    justify-self: end;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}

.menu > .btn {
    padding: .5rem 1.25rem;
    background-color: var(--sky-600);
    color: var(--white);
    font-size: .75rem;
    font-weight: 500;
    border-radius: 1.25rem;
}



.main {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: var(--gray-200);
    display: grid;
    grid-template-columns: 1fr 16rem;
    gap: 1rem;
    padding: 1rem;
}

.line-clamp-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.line-clamp-4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.line-clamp-5 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.card {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: 1px 1px 4px var(--shadow);
    padding: 2em;
}

.card .title {
    font-weight: bold;
    margin: .5em 0; 
}

.card .text {
    color: var(--gray-500);
}

.card .section {
    padding: 1em 0;
}

.card .section:not(:last-child) {
    border-bottom: 1px solid var(--gray-300);
}


.right-col > .block:not(:last-child) {
    margin-bottom: 2rem;
}

.right-col .title {
    margin: .5rem 0;
    font-weight: bold;
}

.right-col .card {
    font-size: .75rem;
}

.right-col .card .user {
    height: 2.5em;
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
}

.right-col .card .user > .logo {
    grid-row: 1 / 2 span;
    width: 2.5em;
    height: 2.5em;
}

.right-col .card .user > .logo > img {
    border-radius: 1.25em;
}

.right-col .card .user > .id {
    font-weight: bold;
}

.right-col .card .user > .slogen {
    color: var(--gray-500);
}



.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    align-content: start;
}

.projects > .card {
    height: 14rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-content: start;
}

.projects > .card > .text {
    max-height: calc(4 * 1.2em); /* maximum 4 lines */
}

.projects > .card > .controls {
    align-self: end; 
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 1.5em;
}

.projects > .card > .controls > .icon {
    width: 1rem;
    height: 1rem;
}





